.logButton {
  position: relative;
  width: fit-content;
  height: 40px;
  font-size: 3.5vh;
  background: transparent;
  color: #da1622;
  border: none;
  cursor: pointer;
}

.logButton:focus {
  outline: none;
  color: #6b2b2f;
}

.logButton:hover {
  transform: scale(1.1);
}

.calcButton {
  background-color: #da1622;
  color: #fcfbfc;
  height: 40px;
  width: 40%;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 2.5vh;
}

.calcButton:hover {
  background-color: #6b2b2f;
}

.calcButton:focus {
  outline: none;
}

.resetButton {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  width: 10%;
  height: 100%;
  background: transparent;
  border: 0px;
  font-size: 2vh;
  color: #fcfbfc;
  cursor: pointer;
}

.resetButton:hover {
  color: #6b2b2f;
  transform: scale(1.1);
}

.backButton {
  position: relative;
  height: 80%;
  margin: 0px;
  width: 80%;
  border-radius: 2px;
  background-color: #da1622;
  color: #fcfbfc;
  border: none;
  cursor: pointer;
}

.backButton :focus {
  outline: none;
}

/* Link Styling */

.buttonLink {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100px;
  height: 100px;
  z-index: 2;
  background-color: transparent;
}
