.logButton {
    position: relative;
    width: fit-content;
    height: 40px;
    font-size: 3.5vh;
    background: transparent;
    color: #DA1622;
    border: none;
}

.logButton:focus {
    outline: none;
    color: #6b2b2f;
}

.logButton:hover {
    transform: scale(1.1);
}

.calculatorButton {
    background-color: #da1622;
    color: #fcfbfc;
    top: 0px;
    right: 0px;
    height: 30px;
    width: 40%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.calculatorButton :hover {
    background-color: #6b2b2f;
}

.calculatorButton :focus {
    outline: none;
}

.backButton {
    height: 80%;
    margin: 0px;
    width: 80%;
    border-radius: 4px;
    background-color: #da1622;
    color: #fcfbfc;
    border: none;
    cursor: pointer;
}

.backButton :focus {
    outline: none;
}

/* Link Styling */

.buttonLink {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100px;
    height: 100px;
    z-index: 2;
    background-color: transparent;
}